body {
  text-align: center;
  background-color: rgb(233, 215, 207);
  margin: 50px;
  font-family: "roboto mono", sans-serif;
  color: rgb(106, 91, 98);
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: rgb(167, 1, 78);
}

a:hover {
  text-decoration: underline;
}
